{% extends "base_generic.html" %}

{% block content %}
<!-- Button trigger modal -->
{% load account_extras %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                </br></br>
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <form role="form" action="{%url 'account:login'%}" method="post">
                            <fieldset>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="from-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field|addcss:"form-control"}}
                                    </div>
                                {% endfor %}
                                </br>
                                <input type="submit" value="Login" class="btn btn-default"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}