{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <img src="{{ profile.photo }}" alt="Profile Picture" class="img-circle img-responsive" height="120px" width="120px" title="{{ profile.name }}">
        </div>
        <div class="col-md-3">
            <div>{{ profile.name }}</div>
            <div>{{ profile.address }}</div>
            <div>{{ profile.email }}</div>
            <div>{{ profile.phone }}</div>
            <div>{{ profile.desc }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="list-group">
            {% for servicelist in profile.servicelist_set.all %}
            <a href="#" class="list-group-item"><span class="badge">{{ servicelist.price }}SGD</span>{{ servicelist.item }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}